/* ===== BASE ===== */
.main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 6rem;
  padding-top: 6rem;
  min-height: 100vh;
  height: 100%;
  color: antiquewhite;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ===== HEADER ===== */
.header {
  width: 100%;
  font-size: 2rem;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.893);
}

/* ===== PARTICIPANTS ===== */
.participants {
  width: 30%;
  gap: 0.8rem;
  flex-wrap: wrap;
  display: flex;
  padding-top: 1rem;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: inherit;
  max-width: var(--max-width);
  width: auto;
  z-index: 2;
  border: 1px dotted black;
  border-radius: 1rem;
  margin-top: 0.5rem;
  padding: 0.2rem;
  background-color: antiquewhite;
  color: black;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem;
}

.description:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(4, 31, 235, 0.971) 0%,
    rgba(233, 16, 14, 0.831) 50%,
    rgba(8, 136, 12, 0.831) 100%
  );
  color: antiquewhite;
  border-color: antiquewhite;
  outline: none;
  transition: ease 0.4s;
}

/* ===== TABLE ===== */
.table {
  padding: 1rem;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.6);
  width: fit-content;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.table ul {
  list-style: none;
  padding-right: 2rem;
}

.tableRows {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: start;
}

.tableRow:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.tableRow:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.tableRow:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}

.tableRow h4 {
  margin-top: 0.4rem;
}

/* ===== COUPON ===== */
.coupon {
  padding: 1rem;
  height: 100vh;
}

.coupon h1 {
  margin-bottom: 1rem;
  color: antiquewhite;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.893);
}

.coupon img {
  margin-bottom: 1rem;
  height: fit-content;
  width: fit-content;
}

/* ===== PRICES ===== */
.prices {
  font-size: 1.5rem;
}
.gold {
  color: gold;
}
.silver {
  color: silver;
}
.bronze {
  color: rgb(255, 187, 119);
}
.fourth {
  color: black;
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
  .content {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .table {
    margin-top: 8rem;
    background: none;
  }
}

@media (min-width: 768px) {
  .coupon img {
    width: 100%;
    height: auto;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
  }

  .header {
    font-size: 3rem;
  }

  .foreignLanguage {
    display: none;
  }

  .participants {
    width: fit-content;
    color: black;
  }

  .table {
    margin-top: 1rem;
    font-size: 1.23rem;
  }

  .table h2 {
    font-size: 2rem;
  }

  .coupon img {
    width: 100%;
  }

  .description {
    font-size: 1.2rem;
  }

  .description a {
    padding: 0.5rem;
  }
}

/* ===== ANIMATIONS ===== */
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
